<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis maiores soluta quo officiis fugit dolores pariatur ex magnam iste minima alias facilis suscipit omnis, animi totam perferendis perspiciatis? Rem reprehenderit beatae excepturi recusandae
    eligendi. Ipsa natus molestias nemo, quidem omnis ea repudiandae cumque magnam, voluptatibus debitis non! Maiores maxime nam ab praesentium culpa quis assumenda iusto id deserunt autem soluta quod ex molestiae corporis reprehenderit ratione, quo accusamus?
    Beatae reprehenderit aliquid pariatur, laudantium animi veritatis, ipsum voluptates asperiores facilis omnis a at exercitationem. Nam voluptate earum alias, atque repellat expedita vel ducimus ullam quisquam minima blanditiis dolorem quod, aliquid
    repellendus?
</p>